<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a88.mapper.gameLibraryMapper">

    <resultMap id="GameLibraryResultMap" type="com.a88.Pojo.gameLibrary">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="additional_information" property="additionalInformation"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="productsDetail" javaType="com.a88.Pojo.products">
            <id column="product_id" property="id"/>
            <result column="product_name" property="name"/>
            <result column="product_price" property="price"/>
            <result column="product_original_price" property="originalPrice"/>
            <result column="product_discount" property="discount"/>
            <result column="product_categories" property="categories"/>
            <result column="product_main_image" property="mainImage"/>
        </association>
    </resultMap>
    <insert id="insertGameLibrary" parameterType="com.a88.Pojo.gameLibrary">
        INSERT INTO game_library (user_id, product_id, additional_information, createTime, updateTime)
        VALUES (#{userId}, #{productId}, #{additionalInformation}, #{createTime}, #{updateTime})
    </insert>

    <select id="getGameLibraryByUserId" parameterType="int" resultMap="GameLibraryResultMap">
        SELECT
            gl.id,
            gl.user_id,
            gl.product_id,
            gl.additional_information,
            gl.createTime,
            gl.updateTime,
            p.id AS product_id,
            p.name AS product_name,
            p.price AS product_price,
            p.originalPrice AS product_original_price,
            p.discount AS product_discount,
            p.categories AS product_categories,
            p.mainImage AS product_main_image
        FROM
            game_library gl
                JOIN products p ON gl.product_id = p.id
        WHERE
            gl.user_id = #{userId}
    </select>

    <update id="updateGameLibrary" parameterType="com.a88.Pojo.gameLibrary">
        UPDATE game_library
        SET user_id = #{userId},
            product_id = #{productId},
            additional_information = #{additionalInformation},
            createTime = #{createTime},
            updateTime = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

</mapper>